input[type="checkbox"].toogle-switch {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 50px;
  height: 27px;
  background-color: var(--dark-orange);
  border-radius: 20px;
  position: relative;
  flex-shrink: 0;
}

input[type="checkbox"].toogle-switch::after {
  width: 27px;
  height: 27px;
  border-radius: 27px;
  background-color: var(--basic-white);
  position: absolute;
  content: "";
  transform: scale(0.85);
  left: 0;
  transition: left 0.09s ease-in-out;
}

input[type="checkbox"].toogle-switch:checked::after {
  left: 22px;
}

.projects-page__body input[type="checkbox"].toogle-switch {
  background-color: rgb(19, 98, 130);
}


