/* Colors */

:root {
  --midnight-black: #1e1e1e;
  --country-orange: #ff9a00;
  --basic-white: #ffffff;
  --very-light-orange: #ffc873;
  --moderate-orange: #b58b4a;
  --dark-orange: #ae6900;
}
